<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Quản lý người dùng </p-header>
    <div class="row">
      <div class="col">
        <button appPermission appPolicy="Permissons.Users.Create" pButton type="button" label="Thêm" icon="fa fa-plus"
          (click)="showAddModal()" class="p-button-sm p-button-success ms-1"></button>
        <button appPermission appPolicy="Permissons.Users.Delete" pButton type="button" label="Xóa" icon="fa fa-trash"
          *ngIf="selectedItems.length > 0" (click)="deleteItems()" class="p-button-sm p-button-danger ms-1"></button>
        <button appPermission appPolicy="Permissons.Users.Edit" pButton type="button" label="Sửa" icon="fa fa-edit"
          *ngIf="selectedItems.length == 1" (click)="showEditModal()"
          class="p-button-sm p-button-warning ms-1"></button>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
              placeholder="Nhập từ khóa..." type="text" />
          </div>
          <div class="col">
            <button type="button" pButton (click)="loadData()">Tìm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
        [rows]="pageSize"
        [totalRecords]="totalCount"
        [metaKeySelection]="true" [scrollable]="true" scrollHeight="500px" [resizableColumns]="true" [tableStyle]="{'min-width': '50rem'}"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="FirstName">Name <p-sortIcon field="FirstName"></p-sortIcon></th>
            <th pSortableColumn="UserName">Account <p-sortIcon field="UserName"></p-sortIcon></th>
            <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
            <th pSortableColumn="PhoneNumber">Phone <p-sortIcon field="PhoneNumber"></p-sortIcon></th>
            <th pSortableColumn="DateCreated">Created Date <p-sortIcon field="DateCreated"></p-sortIcon></th>
            <th style="width: 4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>
              <span class="ui-column-title"></span>
              <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
            <td>{{ row.firstName }}</td>
            <td>{{ row.userName }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.phoneNumber }}</td>
            <td>{{ row.dateCreated | date: 'dd-MM-yyyy hh:mm' }}</td>
            <td>
              <p-badge *ngIf="row.isActive == 1" value="Active" severity="success"></p-badge>
              <p-badge *ngIf="row.isActive == 0" value="InActive" severity="danger"></p-badge>
            </td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-key" pTooltip="Đặt mật khẩu" tooltipPosition="top"
                class="p-button-rounded p-button-text" (click)="onSetPassword(row.id)"></button>
              <button pButton pRipple type="button" icon="pi pi-envelope" pTooltip="Đặt Email" tooltipPosition="top"
                (click)="onChangeEmail(row.id)" class="p-button-rounded p-button-text"></button>

              <button pButton pRipple type="button" icon="pi pi-users" pTooltip="Gán vai trò" tooltipPosition="top"
                (click)="onAssignRole(row.id)" class="p-button-rounded p-button-text"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
        </ng-template>
      </p-table>
    </div>
    <p-paginator #paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="onPageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>